@model List<StudentVM>

<a asp-controller="Home" asp-action="index" class="btn btn-primary">
    Back to Home
</a>
<a asp-controller="Student" asp-action="Add" class="btn btn-primary">
    Create Student
</a>
<br /><br />

@if (Model.Count() < 1)
{
    <div class="alert alert-info">
        No Student Records Found
    </div>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Last name</th>
                <th>Fisr name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td>
                        <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-info btn-sm">
                        Edit
                    </a>
                        <button class="btn btn-danger btn-sm deleteBtn" data-id="@item.Id">
                            Delete with SweetAlert
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<form id="DeleteForm" asp-controller="Student" asp-action="Delete" mothod="post">
    <input type="hidden" id="HiddenStudentId" name="Id" value="" />
</form>

@section Scripts {
    <script>
        $('.deleteBtn').click(function (e) {
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to DELETE this record?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((confirm) =>{
                if (confirm) {
                    var btn = $(this);
                    var id = btn.data("id");
                    $("#HiddenStudentId").val(id);
                    $("#DeleteForm").submit();
                }
            });
        });
    </script>
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
