@model SubjectVM

<h3>Edit Subject</h3>

<form asp-controller="Subject" asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <label asp-for="Code"></label>
    <input type="text" asp-for="Code" class="form-control" />
    <span asp-validation-for="Code" class="text-danger"></span>
    <br />

    <label asp-for="Discription"></label>
    <input type="text" asp-for="Discription" class="form-control" />
    <span asp-validation-for="Discription" class="text-danger"></span>
    <br /><br />

    <label asp-for="Units"></label>
    <input type="text" asp-for="Units" class="form-control" />
    <span asp-validation-for="Units" class="text-danger"></span>
    <br /><br />

    <a asp-controller="Subject" asp-action="index" class="btn btn-primary">
        Back
    </a>
    <input type="submit" class="btn btn-success" value="Save Changes" />
</form>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
